<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="mfr3duo_wrist_camera_mount" params="parent prefix xyz:='0 0 0' rpy:='0 0 0'">
    <link name="${prefix}wrist_camera_mount_link">
      <visual>
        <origin xyz="-0.024 -0.03 0"/>
        <geometry><mesh filename="package://mfr3duo_description/urdf/meshes/wrist_camera_mount/visual/RealSenseD435_Camera_Mount.stl" scale="0.001 0.001 0.001"/></geometry>
        <material name="mfr3duo_printed_mount"/>
      </visual>
    </link>
    <joint name="${prefix}wrist_camera_mount_joint" type="fixed">
      <parent link="${parent}"/><child link="${prefix}wrist_camera_mount_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>
  </xacro:macro>
</robot>
